<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827106228620-6ct4fe2tdeg2t4nnp1ggaa8651grcliq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827106228620-6ct4fe2tdeg2t4nnp1ggaa8651grcliq</string>
	<key>API_KEY</key>
	<string>AIzaSyA6O9z2At-7v4SO7lPFd9bJDQbeR8S-IGg</string>
	<key>GCM_SENDER_ID</key>
	<string>827106228620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeson.app.jesonFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>jeson-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jeson-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827106228620:ios:0499ff49b1b48c654f7ea9</string>
	<key>DATABASE_URL</key>
	<string>https://jeson-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>